body,html{
	
    height:100%;
    width:100%;
}


#contenant{

height:100%;
width:100%;
background-image: url(img/background.jpg) ;
	background-repeat:no-repeat;
    background-size:cover;
}


#duck{
	position:relative;
	top:150px;
	left:-20px;
}


#partie{
	background: red;
	position:absolute;
	top:5px;
	left:5px;
}

#scorespan{
	position: absolute;
	top:10px;
	left:120px;
	background: yellow;
}